# pip install -r requirements.txt

# Base ----------------------------------------
python ==2.7.14
pywin32
win10toast
matplotlib
numpy
opencv-python-headless
Pillow
PyYAML
requests
scipy
torch
torchvision
tqdm
# Logging -------------------------------------
tensorboard
# wandb

# Plotting ------------------------------------
pandas
seaborn

# Export --------------------------------------
# coremltools>=4.1  # CoreML export
# onnx>=1.9.0  # ONNX export
# onnx-simplifier>=0.3.6  # ONNX simplifier
# scikit-learn==0.19.2  # CoreML quantization
# tensorflow>=2.4.1  # TFLite export
# tensorflowjs>=3.9.0  # TF.js export
# openvino-dev  # OpenVINO export

# Extras --------------------------------------
albumentations
# Cython  # for pycocotools https://github.com/cocodataset/cocoapi/issues/172
# pycocotools>=2.0  # COCO mAP
# roboflow
thop  # FLOPs computation
